<!-- When we load this view in rails, "hey, you have an ng controller directive" -
Angular is going to locate a controller with that name. -->

<!-- <div class="container" ng-controller="IndexCtrl">
  <div class="text-center">Products</div>
    <div class="row" ng-repeat="product in products">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
    </div>
</div>
 -->

<div class="container" ng-view>
</div>
